body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 12px !important;
}

.container-fluid {
    width: 100% !important;
}

a.btn {
    color: white !important;
}

table thead tr th {
    text-align: center;
    vertical-align: middle !important;
}

.modal-xxl {
    max-width: 90% !important;
}

.min-h-50 {
    min-height: 50vh;
}

.min-h-80 {
    min-height: 80vh;
}

.select2.select2-container {
    min-width: 200px;
}

.form-filter > label {
    margin-right: 5px;
    margin-left: 20px;
}

a.table-action {
    font-size: 16px;
    margin: 0px 3px;
}

table.table > thead {
    background: #3cab94;
    color: white;
}

.select2-full-w > .select2.select2-container {
    width: 100% !important;
}

#topnav .topbar-main .logo-normal {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 40px;
    text-transform: uppercase;
    padding-left: 10px;
}
td > input{
    width: 100% !important;
}
td.text-right > input{
    text-align: right;
}
td.text-danger > input{
    color: #ec536c;
}
.table > tbody > tr > td{
    padding: 10px 7px !important;
}

a{
    cursor: pointer !important;
}

td > input:read-only{
    border-width: 0px !important;
}

.dataTables_length{
    display: none!important;
}

th > input{
    width: 100% !important;
}
.dataTables_filter{
    display: none;
}