/* ==============
  Print css
===================*/
@media print {
  .logo,.page-title,.breadcrumb,.footer,#topnav {
    display: none;
    margin: 0;
    padding: 0;
  }

  .left {
    display: none;
  }
  .content,.page-content-wrapper,.wrapper {
    margin-top: 0;
    padding-top: 0;
  }
  .content-page {
    margin-left: 0;
    margin-top: 0;
  }

  .topbar, .footer, .side-menu {
    display: none;
    margin: 0;
    padding: 0;
  }
  .content-page > .content {
    margin: 0;
  }

}
